html {
	font-size: 1rem;
}

span {
	float: right;
}

.col-content {
	padding: 0.5em;
}

.label-name {
	text-align: center;
	padding: 1em;
}

.vertical-divider:not(:last-child) {
	border-right: 1px solid lightgray;
}
