@font-face {
	font-family: Futura;
	src: url('../fonts/futura medium bt.ttf');
	src: local('Futura'), url('../fonts/futura medium bt.ttf') format('truetype');
}

html {
	font-size: 0.8rem;
}

body {
	width: 500px;
	font-family: Futura, Tahoma, Trebuchet MS, Verdana, sans-serif;
}

html:hover {
	/*opacity: 1;*/
}

h3 {
	display: inline;
}

span {
	float: right;
}

.content {

}

.col-content {
	/*perspective:800px;*/
}

.card {
	border: none;
	margin: 0.1em;
    transition: transform 1.5s;
	transform-style:preserve-3d;
	height: 200px;
}

.front {
	position: absolute;
	padding: 0.1em;
	backface-visibility: hidden;
	transform: rotateY(0deg);
}

.front.unavailable {
	opacity: 0.25;
}

.back {
	position: absolute;
	padding: 0.01em;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
}

.back.unavailable {
	opacity: 0.25;
}

.plugin-name {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #e9ebf2;
	background-color: #3a4b8b;
}

#flipButton{
	background-color: #3a4b8b;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

.label-name {
	text-align: center;
	padding-top: 1em;
}

.vertical-divider:not(:last-child) {
	border-right: 1px solid #d3d7e5;
}

.footer {

}

.footer-text {
	text-align: right;
}

.header {
	padding-top: 0.2em;
	color: #090909;
	background-color: #ffffff;
	height: 50px;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.hbar {
	color: white;
	text-shadow: black 1px 1px, black -1px -1px, black 1px -1px, black -1px 1px;
	box-sizing: border-box;
	text-align: center;
	font-size: 100%;

	padding-top: -0.1em;
	padding-bottom: -0.1em;
}

.main-score-spacer {
	height: 12px;
}

.subfeature-spacer {
	height: 2px;
}

#bar_value {
	float: none;
}

#flipButton {

}
